.hero {
  background: linear-gradient(270.45deg,rgba(0, 42, 72, 0.1) 0.39%,#002a48 95.68%
  );
  padding-bottom: 65px;
  height: 300px;
}
@media (max-width: 479px){
    .img-hero{
        width: 500px;

    }
    .hero{
        background: linear-gradient(to left,rgba(0, 42, 72, 0.1) 0.39%,#002a48 95.68%);
        width: 400px;
    }
    .hero h1{
        margin-top: 2rem;
    }
    .hero p{
        text-align: center;
        margin-right: 5rem;
    }
    .search{
        width: 50%;
        margin-left: 20px;
    }
}
@media (min-width: 479px) and (max-width: 784px){
    .img-hero {
        width: 100%;
      }
      .hero {
        width: 100%;
        padding: 0 20px;
      }
      .hero h1 {
        text-align: center;
        margin-top: 0;
      }
      .hero p {
        text-align: center;
        margin: 0 auto;
      }
      .search {
        width: 80%;
        margin: 0 auto;
        justify-content: center;
      }
}
/* @media (min-width: 785px){
   
    .search{
        width: 80%;
        margin-right: 80px;
    }
  } */

